<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/fonts/circular-std/style.css">
  <link rel="stylesheet" href="/vendor/fonts/fontawesome/css/fontawesome-all.css">
  <link rel="stylesheet" href="/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendor/medium-editor/css/medium-editor.min.css">
  <link rel="stylesheet" href="/vendor/medium-editor/css/themes/default.min.css">
  <link rel="stylesheet" href="/vendor/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.min.css">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/admin.css">

  <title>Admin Dashboard</title>
</head>

<body>

  <div class="dashboard-main-wrapper">

    {{> admin/admin-nav }}

    {{> admin/sidebar }}

    <div class="dashboard-wrapper">
      <div class="dashboard-ecommerce">

        {{{ body }}}

        {{> footer }}

      </div>
    </div>
  </div>

  <script src="/vendor/jquery/jquery-3.3.1.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/vendor/slimscroll/jquery.slimscroll.js"></script>
  <script src="/vendor/medium-editor/js/medium-editor.min.js"></script>
  <script src="/vendor/handlebars/handlebars-4.0.12.js"></script>
  <script src="/vendor/jquery/jquery-sortable-min.js"></script>
  <script src="/vendor/jquery/jquery.ui.widget.js"></script>
  <script src="/vendor/jquery/jquery.iframe-transport.js"></script>
  <script src="/vendor/jquery/jquery.fileupload.js"></script>
  <script src="/vendor/medium-editor-insert-plugin/dist/js/medium-editor-insert-plugin.min.js"></script>
  <script src="/vendor/chartjs/Chart.min.js"></script>

  <script src="/js/main-js.js"></script>
  <script src="/js/editor.js"></script>

  <script>
    let ctx = document.getElementById("myChart").getContext('2d');
    let myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Posts", "Comments", "Users", "Categories", "Purple", "Orange"],
        datasets: [{
          label: '# of items',
          data: [{{postCount}}, {{commentCount}}, {{userCount}}, {{categoryCount}}, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
            'rgba(153, 102, 255, 0.5)',
            'rgba(255, 159, 64, 0.5)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });
  </script>
</body>

</html>