<div class="container-fluid dashboard-content">
  <h2>Posts</h2>

  <div class="row">
    {{#each posts}}
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
          <img {{#if photo}} src="/uploads/{{photo}}" {{else}} src="/images/card-placeholder.png" {{/if}} class="img-fluid" alt="{{title}}"/>
          <div class="card-body">
            <h3 class="card-title">{{title}}</h3>
            <textarea class="editor card-text">{{description}}</textarea>
            <p><a href="/posts/{{slug}}" class="btn btn-primary">Read More &rarr;</a></p>
            <p class="text-muted">Posted on {{formatDate date 'MMMM Do YYYY'}} by {{user.username}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
