<div class="container-fluid dashboard-content">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="page-header">
        <h2 class="pageheader-title">{{post.title}}</h2>
        <div class="page-breadcrumb">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/user/posts" class="breadcrumb-link">My Posts</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  {{> flash-messages }}

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
        <h5 class="card-header">{{post.title}}</h5>
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <h5>Status: {{post.status}}</h5>
              <h5>Category: {{post.category.name}}</h5>
              <h6>Allow Comments: {{post.allowComments}}</h6>
              <h6>Date: {{formatDate date 'MMMM Do YYYY'}}</h6>

              <p>
                <img {{#if post.photo}} src="/uploads/{{post.photo}}" {{else}} src="/images/card-placeholder.png" {{/if}} class="img-fluid" alt="{{post.title}}"/>
              </p>

              <textarea class="editor">
                {{post.description}}
              </textarea>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <div class="float-left">
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>

          <div class="d-flex justify-content-end">
            <a href="/user/posts/edit/{{post.id}}" class="btn btn-primary clearfix">Edit</a>
          </div>

          <!-- Delete Modal -->
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete {{post.title}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this post
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                  <form action="/user/posts/{{post.id}}?_method=delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>